<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Detail Page
    
  <table border=" ">
    
   <th><h1> {{product.name}} </h1></th><br>
   <tr> <p><td>{{product.description}} </td><p></tr><br>
   <tr> <h4><td>{{product.price}} </td><h4></tr>

    </table>
  <a href = "{% url 'products_update' product.id %}" > <button> UPDATE </button> </a>

</body>
</html>